extends ./layout.jade

block title
  title Ihre gespeicherten Beispiele - #{baseTitle} - Startseite

block content
  main.site-content#content
    .container
      .row
        section.col-12
          if infoMessage
            div.alert.alert-info
              p= infoMessage
          if errorMessage
            div.alert.alert-danger
              p= errorMessage

      if !user.isAnonymous
        .row
          h4 Ihre gespeicherten Beispiele
          .col-12
            p.
              Folgende Liste enthält nur von Ihnen gespeicherte Beispiele.
          if codeDocuments && codeDocuments.length > 0
            .col-12
              div.card
                h3.card-header.card-header-for-list
                  span Ihre gespeicherten Beispiele
                  =' '
                  span.pull-right-flex
                    small Die letzten 10
                    small !{" | "}
                    small
                      a(href="/codedocuments", title="Alle Anzeigen") Alle
                ul.list-group.list-group-flush
                  - each doc in codeDocuments
                    li.list-group-item
                      a(href="/embed/" + doc.codeEmbedId + "?showDocument=" + doc.id ) !{doc.embed.meta.name}
                      span.float-right
                        small Letzte Änderung !{doc.relativeDate}
          else
            .col-12
              p
                strong Sie haben noch keine gespeicherten Beispiele.

  .container.second-entry
    if user.isAnonymous
      .row.auth
        .col-12
          p.
            Nur angemeldete Benutzer können ihre gespeicherten Beispiele einsehen.
      .row.grid-divider
        .col-md-5.col-12
          h2 Login
          include ./includes/_login.jade
        .col-md-2.hidden-sm-down.divider.vertical
          p Oder
        .col-md-5.col-12
          h2 Registrierung
          include ./includes/_signup.jade
