extends ./layout.jade

block title
  title Ihre Beispiele - trycoding.io - Startseite

block content
  main.site-content#content
    .container
      .row
        section.col-xs-12
          if infoMessage
            div.alert.alert-info
              p= infoMessage
          if errorMessage
            div.alert.alert-danger
              p= errorMessage

      if !user.isAnonymous
        .row
          h4 Ihre erstellten Beispiele
          .col-xs-12
            p.
              Folgende Liste enthält nur von Ihnen erstellte Beispiele.
          if embeds && embeds.length > 0
            .col-xs-12
              div.card
                h3.card-header.card-header-for-list.card-header-flex
                  span Ihre erstellten Beispiele
                  =' '
                  span.pull-right-flex
                    small
                      form.new-course-form.form-inline(method="POST", action="/embed/redirectcreate")
                        input(type="hidden", name="crumb", value=crumb)
                        input(type="hidden", name="name", value="Neues Codebeispiel")
                        input(type="hidden", name="embedType", value="sourcebox")
                        input(type="hidden", name="language", value="python3")
                        button.btn.btn-primary.btn-sm.new-course-form-btn(type="submit", title="Neues Codebeispiel anlegen") +
                ul.list-group.list-group-flush
                  - each embed in embeds
                    li.list-group-item
                      - var urlPart = embed.slug != null && embed.slug != '' ? embed.slug : embed.id;
                      a(href="/embed/" + urlPart, ) !{embed.meta.name}
                      span.pull-xs-right
                        small Letzte Änderung !{embed.lastUpdate}

  .container.second-entry
    if user.isAnonymous
      .row.auth
        .col-xs-12
          p.
            Nur angemeldete Benutzer können ihre Beispiele einsehen.
      .row.grid-divider
        .col-md-5.col-xs-12
          h2 Login
          include ./includes/_login.jade
        .col-md-2.hidden-sm-down.divider.vertical
          p Oder
        .col-md-5.col-xs-12
          h2 Registrierung
          include ./includes/_signup.jade
