doctype html
html(lang="de")

  meta(charset="utf-8")
  script(src="https://use.fontawesome.com/3797abfac7.js")
  title trycoding.io - Hochschule Coburg

  // Fav-Icons
  link(rel="apple-touch-icon" sizes="57x57" href="/public/fav-icon/apple-icon-57x57.png")
  link(rel="apple-touch-icon" sizes="60x60" href="/public/fav-icon/apple-icon-60x60.png")
  link(rel="apple-touch-icon" sizes="72x72" href="/public/fav-icon/apple-icon-72x72.png")
  link(rel="apple-touch-icon" sizes="76x76" href="/public/fav-icon/apple-icon-76x76.png")
  link(rel="apple-touch-icon" sizes="114x114" href="/public/fav-icon/apple-icon-114x114.png")
  link(rel="apple-touch-icon" sizes="120x120" href="/public/fav-icon/apple-icon-120x120.png")
  link(rel="apple-touch-icon" sizes="144x144" href="/public/fav-icon/apple-icon-144x144.png")
  link(rel="apple-touch-icon" sizes="152x152" href="/public/fav-icon/apple-icon-152x152.png")
  link(rel="apple-touch-icon" sizes="180x180" href="/public/fav-icon/apple-icon-180x180.png")
  link(rel="icon" type="image/png" sizes="192x192"  href="/public/fav-icon/android-icon-192x192.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/public/fav-icon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="96x96" href="/public/fav-icon/favicon-96x96.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/public/fav-icon/favicon-16x16.png")
  link(rel="manifest" href="/public/fav-icon/manifest.json")
  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="msapplication-TileImage" content="/public/fav-icon/ms-icon-144x144.png")
  meta(name="theme-color" content="#ffffff")

  if isProd
    link(rel="stylesheet", href="/public/css/all.bundle.#{webboxVersion}.css")

  // Track only on production
  if isProd
    script.
      // keen analytics, simple analytics without exposing user data to google :)
      !function(name,path,ctx){
        var latest,prev=name!=='Keen'&&window.Keen?window.Keen:false;ctx[name]=ctx[name]||{ready:function(fn){var h=document.getElementsByTagName('head')[0],s=document.createElement('script'),w=window,loaded;s.onload=s.onerror=s.onreadystatechange=function(){if((s.readyState&&!(/^c|loade/.test(s.readyState)))||loaded){return}s.onload=s.onreadystatechange=null;loaded=1;latest=w.Keen;if(prev){w.Keen=prev}else{try{delete w.Keen}catch(e){w.Keen=void 0}}ctx[name]=latest;ctx[name].ready(fn)};s.async=1;s.src=path;h.parentNode.insertBefore(s,h)}}
      }('KeenAsync','https://d26b395fwzu5fz.cloudfront.net/keen-tracking-1.0.3.min.js',this);

      KeenAsync.ready(function(){
        // Configure a client instance
        var client = new KeenAsync({
          projectId: !{KEENIO_PROJECTID},
          writeKey: !{KEENIO_WRITEKEY}
        });

        var sessionCookie = KeenAsync.utils.cookie('keen-analytics-id');
        if (!sessionCookie.get('user_id')) {
            sessionCookie.set('user_id', KeenAsync.helpers.getUniqueId());
        }

        client.extendEvents({
            page: {
                href: document.location.href,
                title: document.title
            },
            referrer: document.referrer,
            user: {
                id: window.USER_DATA != null && window.USER_DATA.isAnonymous === false ? window.USER_DATA.username : '',
            }
        });

        client.extendEvents(function(){
            return {
                page: {
                  title: document.title,
                  url: document.location.href
                  // info: {} (add-on)
                },
                referrer: {
                  url: document.referrer
                  // info: {} (add-on)
                },
                tech: {
                  // info: {} (add-on)
                  // browser: KeenAsync.helpers.getBrowserProfile(),
                  ip: '${keen.ip}',
                  ua: '${keen.user_agent}'
                },
                visitor: {
                  id: sessionCookie.get('user_id')
                },
                keen: {
                  timestamp: new Date().toISOString(),
                  addons: [
                    {
                      name: 'keen:ua_parser',
                      input: {
                        ua_string: 'tech.ua'
                      },
                      output: 'tech.info'
                    }
                  ]
              },
            }
        });

        // Record an event
        client.recordEvent('pageview');

        window.KEEN_CLIENT = client;
      });

  body.ide
    #ide-container

    script.
      window.websocket = !{websocket};
      window.INITIAL_DATA = !{INITIAL_DATA};
      window.USER_DATA = !{USER_DATA};
      window.__crumb__ = "!{crumb}";

    script(src="https://cdn.jsdelivr.net/ace/1.2.4/min/ace.js")
    script(src="https://cdn.jsdelivr.net/ace/1.2.4/min/ext-themelist.js")
    script(src="https://cdn.jsdelivr.net/ace/1.2.4/min/ext-modelist.js")
    //script(src="https://cdn.jsdelivr.net/d3js/3.5.17/d3.min.js")
    script(src="/public/skulpt/skulpt.min.js")
    script(src="/public/skulpt/skulpt-stdlib.js")

    if isProd
      script(src="/public/js/react-commons.bundle.#{webboxVersion}.js")
      script(src="/public/js/embed.bundle.#{webboxVersion}.js")
    else
      script(src="/public/js/react-commons.bundle.js")
      script(src="/public/js/embed.bundle.js")
