doctype html
html(lang="de")

  meta(charset="utf-8")
  script(src="https://use.fontawesome.com/3797abfac7.js")
  title #{baseTitle}

  // Fav-Icons
  link(rel="apple-touch-icon" sizes="57x57" href="/public/fav-icon/apple-icon-57x57.png")
  link(rel="apple-touch-icon" sizes="60x60" href="/public/fav-icon/apple-icon-60x60.png")
  link(rel="apple-touch-icon" sizes="72x72" href="/public/fav-icon/apple-icon-72x72.png")
  link(rel="apple-touch-icon" sizes="76x76" href="/public/fav-icon/apple-icon-76x76.png")
  link(rel="apple-touch-icon" sizes="114x114" href="/public/fav-icon/apple-icon-114x114.png")
  link(rel="apple-touch-icon" sizes="120x120" href="/public/fav-icon/apple-icon-120x120.png")
  link(rel="apple-touch-icon" sizes="144x144" href="/public/fav-icon/apple-icon-144x144.png")
  link(rel="apple-touch-icon" sizes="152x152" href="/public/fav-icon/apple-icon-152x152.png")
  link(rel="apple-touch-icon" sizes="180x180" href="/public/fav-icon/apple-icon-180x180.png")
  link(rel="icon" type="image/png" sizes="192x192"  href="/public/fav-icon/android-icon-192x192.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/public/fav-icon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="96x96" href="/public/fav-icon/favicon-96x96.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/public/fav-icon/favicon-16x16.png")
  link(rel="manifest" href="/public/fav-icon/manifest.json")
  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="msapplication-TileImage" content="/public/fav-icon/ms-icon-144x144.png")
  meta(name="theme-color" content="#ffffff")

  if isProd
    link(rel="stylesheet", href="/public/css/commons.bundle.#{webboxVersion}.css")

  body.ide
    #ide-container

    script.
      window.__WEBSOCKET__ = !{websocket};
      window.__SOURCEBOX__ = !{sourcebox || null};
      window.__INITIAL_DATA__ = !{INITIAL_DATA};
      window.__USER_DATA__ = !{USER_DATA};
      window.__crumb__ = "!{crumb}";

    //script(src="https://cdn.jsdelivr.net/ace/1.2.4/min/ace.js")
    //script(src="https://cdn.jsdelivr.net/ace/1.2.4/min/ext-themelist.js")
    //script(src="https://cdn.jsdelivr.net/ace/1.2.4/min/ext-modelist.js")
    //script(src="https://cdn.jsdelivr.net/d3js/3.5.17/d3.min.js")
    script(src="/public/skulpt/skulpt.min.js")
    script(src="/public/skulpt/skulpt-stdlib.js")

    if isProd
      script(src="/public/js/commons.bundle.#{webboxVersion}.js")
      script(src="/public/js/embed.bundle.#{webboxVersion}.js")
    else
      script(src="/public/js/commons.bundle.js")
      script(src="/public/js/embed.bundle.js")
