doctype html
html(lang="de")

  meta(charset="utf-8")
  script(src="https://use.fontawesome.com/3797abfac7.js")
  title #{baseTitle}


  link(rel="apple-touch-icon", sizes="180x180", href="/public/fav-icon/apple-touch-icon.png")
  link(rel="icon", type="image/png", href="/public/fav-icon/favicon-32x32.png", sizes="32x32")
  link(rel="icon", type="image/png", href="/public/fav-icon/favicon-16x16.png", sizes="16x16")
  link(rel="manifest", href="/public/fav-icon/manifest.json")
  link(rel="mask-icon", href="/public/fav-icon/safari-pinned-tab.svg", color="#333333")
  link(rel="shortcut icon", href="/public/fav-icon/favicon.ico")
  meta(name="msapplication-config", content="/public/fav-icon/browserconfig.xml")
  meta(name="theme-color", content="#ffffff")


  if isProd
    link(rel="stylesheet", href="/public/css/commons.bundle.#{webboxVersion}.css")

  body.ide
    #ide-container

    script.
      window.__WEBSOCKET__ = !{websocket};
      window.__SOURCEBOX__ = !{sourcebox};
      window.__INITIAL_DATA__ = !{INITIAL_DATA};
      window.__USER_DATA__ = !{USER_DATA};
      window.__crumb__ = "!{crumb}";

    //script(src="https://cdn.jsdelivr.net/ace/1.2.4/min/ace.js")
    //script(src="https://cdn.jsdelivr.net/ace/1.2.4/min/ext-themelist.js")
    //script(src="https://cdn.jsdelivr.net/ace/1.2.4/min/ext-modelist.js")
    script(src="https://cdn.jsdelivr.net/d3js/3.5.17/d3.min.js", defer)

    if isProd
      script(src="/public/js/commons.bundle.#{webboxVersion}.js", defer)
      script(src="/public/js/embed.bundle.#{webboxVersion}.js", defer)
    else
      script(src="/public/js/commons.bundle.js", defer)
      script(src="/public/js/embed.bundle.js", defer)
