doctype html
html(lang="de")
    head
        meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/monokai-sublime.min.css")
        title=title
    body
        h1= title
        p= message
        p blablablabalssdfsdfssssdf
        include:marked mdtest.md
        Jade Template könntens mittels jstransformers relative gut andere Arten von Dokumenten zur Compile-Zeit einbinden. Ein Beispiel dafür ist
        Markdown. Aber auch inline-code Elementes.
        p
            | Angemeldet:
            = username

        h2 Login
        form(action="/login", method="POST")
            input(type="hidden", name="crumb", value=crumb)
            input(type="text", id="login_username", name="username")
            input(type="password", id="login_password", name="password")
            button(type="submit") Anmelden

        h2 Image-Upload
        form(action="/mediaupload", method="POST", enctype="multipart/form-data")
            input(type="hidden", name="crumb", value=crumb)
            input(type="file", name="imageFile", accept="image")
            input(type="text", name="course")
            button(type="submit") Hochladen