extends ./layout.jade

block title
  title trycoding.io - Hochschule Coburg

block styles
  if isProd
    link(rel="stylesheet", href="/public/css/all.bundle.#{webboxVersion}.css")

  link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700", rel="stylesheet", type="text/css")
  link(rel="stylesheet", href="//cdn.jsdelivr.net/highlight.js/9.6.0/styles/github.min.css")
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/katex/0.6.0/katex.min.css")
  script(src="https://use.fontawesome.com/3797abfac7.js")

block content
  #notebook-container.container
    <progress class="progress progress-striped progress-animated" value="100" max="100">Lade...</progress>

block scripts
  script.
    window.__INITIAL_STATE__ = !{INITIAL_DATA};
    window.USER_DATA = !{USER_DATA};
    window.__WEBSOCKET__ = !{websocket};
    window.__crumb__ = "!{crumb}";

  script(src="https://cdn.jsdelivr.net/ace/1.2.4/min/ace.js")
  script(src="https://cdn.jsdelivr.net/ace/1.2.4/min/ext-themelist.js")
  script(src="https://cdn.jsdelivr.net/ace/1.2.4/min/ext-modelist.js")
  script(src="//cdn.jsdelivr.net/highlight.js/9.6.0/highlight.min.js")
  script(src="https://cdn.jsdelivr.net/katex/0.6.0/katex.min.js")
  script(src="https://cdn.jsdelivr.net/markdown-it/8.0.0/markdown-it.min.js")
  if isProd
    script(src="/public/js/react-commons.bundle.#{webboxVersion}.js")
    script(src="/public/js/notebook.bundle.#{webboxVersion}.js")
  else
    script(src="/public/js/react-commons.bundle.js")
    script(src="/public/js/notebook.bundle.js")
