extends ../layout.jade

block content
  .container-fluid
    .row
      .col-md-2
        ul.nav.nav-pills.nav-stacked
          li.nav-item
            a.nav-link(href="/dashboard") Übersicht
          each model in models
            li.nav-item
              a.nav-link(href='/dashboard' + model.path) #{model.displayName}
      .col-md-8
        if errorMessage
          .alert.alert-danger
            p= errorMessage
        if infoMessage
          .alert.alert-info
            p= infoMessage
        if successMessage
          .alert.alert-success
            p= successMessage
        block modelcontent
          h1 Letzte Vorgänge
          table.table.table-sm.table-striped
            thead.thead-inverse
              tr
                th Event
                th Message
                th Type
                th Data
                th Zeitpunkt
                th ID
            tbody
              each log in logs
                tr
                  td= log.eventName
                  td= log.eventMessage
                  td
                    span.label.label-default.label-roles #{log.eventType}
                  td= JSON.stringify(log.eventData, null, 4)
                  td= log.timeStamp
                  td= log.id
