extends ./dashboard.jade

block modelcontent
  h2 Benutzer
  table.table.table-sm.table-striped
    thead.thead-inverse
      tr
        th ID
        th E-Mail
        th Username
        th Aktiv
        th Semester
        th Letzte Anmeldung
        th Verifiziert
        th Roles
    tbody
      each user in users
        tr
          td
            a(href="/dashboard/user/" + user.id) #{user.id}
          td= user.email
          td= user.username
          td
            if user.isActive
                i.fa.fa-circle
            else
              i.fa.fa-circle-o
          td= user.semester
          td= user.lastLogin
          td
            if user.verification.isCompleted
                i.fa.fa-circle
            else
              i.fa.fa-circle-o
          td
            each role in user.roles
              span.label.label-default.label-roles #{role}
